<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server side rendring</title>
</head>
<body>
    <h1>Server side EJS page rendring on webpage</h1>

    <form action="">
        <input  type="text" name="name" placeholder="Enter Name" required></input>
        <input type="number" name="age" placeholder="Enter age" required></input>
        <button type="submit">Add</button>
        
    </form>

    
</body>
</html>