<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    
    <%- include('_header'); -%>

    <h1> Home EJS Page rendring on webpage <span style="color: rgb(60, 60, 217);"> <%= title %> </span></h1>

    <%- include('_footer'); -%>
    <hr>

    <!-- <form action="/data" method="post">
        <input  type="text" name="name" placeholder="Enter Name" required></input>
        <input type="number" name="age" placeholder="Enter age" required></input>
        <button type="submit">Add</button>
        
    </form> -->
    
</body>
</html>