<h1>User Sing In Page</h1>

<div>
    <form action="/create-User-Session" method="post">

      <input type="email" name="email" required placeholder="enter email">

       <input type="password" name="password" required placeholder="enter password to login">

       <input type="submit" value="Sign In">

       <!-- <button type="submit">Sign In</button> -->

   
    </form>
</div>