
<link rel="stylesheet" href="/css/user_profile.css">
<h1> 
    User_Profile Page Rendring 
</h1>
<div>
    <ul>
        <% if (userData) { %>
         
        
         <li>
          

         </li>
        
         <% } %>
        
    </ul>
    
</div>
