<h1>User Sign Up Page </h1>

<div id="user-sign-up">

   <form action="/create-User" method="post">
      <input type="text" name="name" required placeholder="Enter Name">
      <input type="email" name="email" required placeholder="Enter Email">
      <input type="password" name="password" required placeholder="Enter Password">
      <input type="password" name="confirm_password" required placeholder="confirm Password">

      <input type="submit" value="Sign Up">

      <!-- <button type="submit">SignUp</button> -->
   </form>
   
</div> 